header h1 {
  color: aliceblue;
  max-width: 100%;
}

p, span{
  color: aliceblue;
}

.pokemonImg {
  width: 300px;
}

.pokemonText {
  color: black;
  font-size: 50px;
  margin-left: 50px;
}

#showPokemon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemonCard {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-content {
  min-height: 700px;
}